In [1]:
library(tidyverse)
library(ggplot2)
library(MatchIt)
library(dplyr)
library(tidyr)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
# Loading Data
data <- read_csv("../datahwk2.1/final-data.csv")
data2018 <- read_csv("../datahwk2.1/data-2018.csv")

Rows: 449046 Columns: 69
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (17): contractid, state, county, org_type, plan_type, partd, snp, eghp, ...
dbl (52): planid, fips, year.x, n_nonmiss, avg_enrollment, sd_enrollment, mi...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 85866 Columns: 69
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (17): contractid, state, county, org_type, plan_type, partd, snp, eghp, ...
dbl (51): planid, fips, year.x, n_nonmiss, avg_enrollment, sd_enrollment, mi...
lgl  (1): mean_risk

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [10]:
library(dplyr)
library(tibble)

d18 <- data2018 %>%
  filter(
    snp != "Yes",        
    !grepl("^8", planid),
    plan_type != "PDP"
  )

hhi_data <- d18 %>%
  group_by(fips, parent_org) %>%
  summarise(org_enroll = sum(avg_enrollment, na.rm = TRUE), .groups = "drop") %>%
  group_by(fips) %>%
  mutate(
    total_county_enroll = sum(org_enroll),
    org_share = org_enroll / total_county_enroll
  ) %>%
  summarise(
    hhi = sum(org_share^2),
    .groups = "drop"
  )

d18 <- d18 %>%
  left_join(hhi_data, by = "fips")

hhi_cuts <- quantile(d18$hhi, probs = c(0.33, 0.66), na.rm = TRUE)

d18 <- d18 %>%
  mutate(
    competitive = case_when(
      hhi <= hhi_cuts[1] ~ 1,
      hhi >= hhi_cuts[2] ~ 0,
      TRUE ~ NA_real_
    )
  ) %>%
  filter(!is.na(competitive), !is.na(bid))

bid_comparison_table <- d18 %>%
  group_by(competitive) %>%
  summarise(
    avg_bid = mean(bid, na.rm = TRUE),
    n_obs = n(),
    .groups = "drop"
  ) %>%
  mutate(
    Market_Type = ifelse(competitive == 1, "Competitive (Low HHI)", "Concentrated (High HHI)"),
    avg_bid = round(avg_bid, 2)
  ) %>%
  select(Market_Type, avg_bid, n_obs)

bid_comparison_table

  Market_Type             avg_bid n_obs
1 Concentrated (High HHI) 772.68  22873
2 Competitive (Low HHI)   753.37  24662

In [4]:
d18 <- d18 %>%
  mutate(
    ffs_q1 = ifelse(ntile(avg_ffscost, 4) == 1, 1, 0),
    ffs_q2 = ifelse(ntile(avg_ffscost, 4) == 2, 1, 0),
    ffs_q3 = ifelse(ntile(avg_ffscost, 4) == 3, 1, 0),
    ffs_q4 = ifelse(ntile(avg_ffscost, 4) == 4, 1, 0)
  )

In [5]:
long_quartiles <- d18 %>% 
  select(avg_ffscost, ffs_q1, ffs_q2, ffs_q3, ffs_q4) %>%
  pivot_longer(
    cols = starts_with("ffs_q"),
    names_to = "Quartile",
    values_to = "in_quartile"
  ) %>%
  filter(in_quartile == 1)

avg_cost_table <- long_quartiles %>%
  group_by(Quartile) %>%
  summarise(
    avg_cost = mean(avg_ffscost, na.rm = TRUE),
    n_obs = n()
  ) %>%
  arrange(Quartile)

avg_cost_table

  Quartile avg_cost  n_obs
1 ffs_q1    7960.084 11884
2 ffs_q2    8917.597 11884
3 ffs_q3    9680.088 11884
4 ffs_q4   11242.736 11883

In [9]:
library(MatchIt)
library(dplyr)
library(tibble)
library(tidyr)

hhi_parent_org <- d18 %>%
  group_by(fips, parent_org) %>%
  summarise(org_enroll = sum(avg_enrollment, na.rm = TRUE), .groups = "drop") %>%
  group_by(fips) %>%
  mutate(total_county_enroll = sum(org_enroll)) %>%
  filter(total_county_enroll > 0) %>%
  mutate(org_share = org_enroll / total_county_enroll) %>%
  summarise(hhi = sum(org_share^2), .groups = "drop")

h_cuts <- quantile(hhi_parent_org$hhi, probs = c(0.33, 0.66), na.rm = TRUE)

d18_analysis <- d18 %>%
  left_join(hhi_parent_org, by = "fips") %>%
  mutate(
    treatment = case_when(
      hhi <= h_cuts[1] ~ 1L,
      hhi >= h_cuts[2] ~ 0L,
      TRUE ~ NA_integer_
    ),
    outcome = bid,
    Quartile = case_when(
      ffs_q1 == 1 ~ "Q1",
      ffs_q2 == 1 ~ "Q2",
      ffs_q3 == 1 ~ "Q3",
      ffs_q4 == 1 ~ "Q4"
    )
  ) %>%
  filter(!is.na(treatment), !is.na(outcome), !is.na(Quartile))


m_out <- matchit(treatment ~ ffs_q1 + ffs_q2 + ffs_q3, 
                 data = d18_analysis, 
                 distance = "mahalanobis", 
                 method = "nearest", 
                 replace = TRUE,    
                 ratio = 1)

ate_match <- coef(lm(outcome ~ treatment, data = match.data(m_out), weights = weights))["treatment"]

ps_mod <- glm(treatment ~ ffs_q1 + ffs_q2 + ffs_q3, data = d18_analysis, family = binomial())
d18_analysis$ps <- predict(ps_mod, type = "response")
d18_analysis$w  <- ifelse(d18_analysis$treatment == 1, 1/d18_analysis$ps, 1/(1-d18_analysis$ps))
ate_ipw <- coef(lm(outcome ~ treatment, data = d18_analysis, weights = w))["treatment"]

reg_model <- lm(outcome ~ treatment * factor(Quartile), data = d18_analysis)
ate_reg <- suppressWarnings({
  p1 <- predict(reg_model, newdata = mutate(d18_analysis, treatment = 1))
  p0 <- predict(reg_model, newdata = mutate(d18_analysis, treatment = 0))
  mean(p1 - p0, na.rm = TRUE)
})

ate_summary_table <- tibble(
  Estimator = c("NN Matching", "IPW Weighting", "OLS Interactions"),
  ATE = round(c(ate_match, ate_ipw, ate_reg), 3)
)
print(ate_summary_table)

# A tibble: 3 × 2
  Estimator          ATE
  <chr>            <dbl>
1 NN Matching      -33.1
2 IPW Weighting    -21.9
3 OLS Interactions -21.9